/* navbar stuff starts here */
.banner .navbar-color {
  background-color: rgb(0, 42, 90);
}

.banner .navbar-brand {
  color: #fff;
  font: size 22px;
  font-weight: 700;
  margin-left: 10%;
}

.banner .nav {
  margin-right: 10%;
}

.banner .nav li a {
  color: rgb(168, 173, 172);
  font: size 1.4em;
  font-weight: 200;
}

.banner .nav li a:hover {
  color: rgb(1, 108, 238);
}

/* navbar stuff ends here  */

.background_banner {
  background: url("../assets/overlay.png"), url("../assets/uoft_library.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
